### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.idea/

###project###
logs/


mscz-security-authorize/*.iml
mscz-security-authorize/.idea
mscz-security-authorize/target

mscz-security-core/*.iml
mscz-security-core/.idea
mscz-security-core/target

mscz-security-resource/*.iml
mscz-security-resource/.idea
mscz-security-resource/target

mscz-security-server/*.iml
mscz-security-server/.idea
mscz-security-server/target

mscz-security-social/*.iml
mscz-security-social/.idea
mscz-security-social/target

mscz-security-token/*.iml
mscz-security-token/.idea
mscz-security-token/target